/* Basic Fonts */
.proxima-reg {
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
}
.proxima-bld {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
}
.brandon-bld {
  font-family: "Brandon_bld", sans-serif;
  font-weight: 700;
}
.trajan-reg {
  font-family: "TrajanProRegular", sans-serif;
}
/* Basic Colors */
/* Main Header */
header {
  width: 100%;
  max-width: 1280px;
  min-width: 430px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 1% auto;
  box-sizing: border-box;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
}
header hr {
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 1px;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
}
header .first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
}
header .first-row a {
  font-size: 10px;
  color: #a9a9a9;
}
header .first-row .contacts {
  flex-basis: 25%;
}
header .first-row .contacts a {
  font-size: 14px;
  color: #000000;
}
header .first-row .contacts span {
  padding: 10px;
  text-transform: none;
  font-size: 12px;
  color: #a9a9a9;
}
header .first-row-nav {
  flex-basis: 50%;
}
header .first-row-nav li {
  display: inline-block;
  padding: 0 10px;
}
header .first-row .login-block {
  flex-basis: 25%;
}
header .second-row {
  height: 95px;
  line-height: 95px;
  text-align: center;
  font-family: "Brandon_bld", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
header .third-row {
  height: 56px;
  line-height: 76px;
}
header .third-row ul {
  display: flex;
  justify-content: space-between;
}
header .third-row a {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
}
/* Main */
main {
  width: 100%;
  max-width: 1280px;
  min-width: 430px;
  flex-grow: 1;
  box-sizing: border-box;
  margin: auto;
  /* Main Slider */
  /* Main Banner */
}
main .main-slider {
  height: 517px;
  background-image: url("../img/slider-0.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-slider hr {
  border: none;
  background-color: black;
  color: black;
  height: 2px;
  width: 44px;
  margin-left: 0;
  text-align: left;
}
main .main-slider-product {
  margin: 5%;
}
main .main-slider-product-name {
  margin: 0 -2%;
  font-family: "TrajanProRegular", sans-serif;
  font-size: 72px;
  text-transform: uppercase;
}
main .main-slider-product-desc {
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
main .main-slider-product-img {
  text-align: right;
}
main .main-slider-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
  color: #c59a77;
}
main .main-slider-nav .circles-parent {
  margin: 50%;
}
main .main-slider-nav .circle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 100% 0%;
  border: 2px solid #ffffff;
}
main .main-slider-nav .circle:last-child {
  background: #ffffff;
}
main .main-slider-nav-arrow {
  margin: 50%;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ffffff;
}
main .main-slider-nav-about {
  margin: 50%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 110px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background: #ffffff;
}
main .main-banner {
  height: 193px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
}
main .main-banner p:first-child {
  margin: 5%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 16px;
}
main .main-banner-first {
  flex-grow: 1;
  background-image: url("../img/banner-0.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #c59a77;
}
main .main-banner-second {
  flex-grow: 1;
  background-image: url("../img/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-banner-third {
  flex-grow: 1;
  background-image: url("../img/banner-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
main .main-banner-third-img {
  margin-top: -70px;
  text-align: right;
}
