/* Basic Fonts */
.proxima-reg {
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
}
.proxima-bld {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
}
.brandon-bld {
  font-family: "Brandon_bld", sans-serif;
  font-weight: 700;
}
.trajan-reg {
  font-family: "TrajanProRegular", sans-serif;
}
.main-slider-text {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
/* Basic Colors */
/* Main Header */
header {
  width: 100%;
  max-width: 1280px;
  min-width: 430px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  margin: 1% auto;
  box-sizing: border-box;
  text-transform: uppercase;
}
header a {
  text-decoration: none;
}
header hr {
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  height: 1px;
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
}
header .first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
}
header .first-row a {
  font-size: 10px;
  color: #a9a9a9;
}
header .first-row .contacts {
  flex-basis: 25%;
}
header .first-row .contacts a {
  font-size: 14px;
  color: #000000;
}
header .first-row .contacts span {
  padding: 10px;
  text-transform: none;
  font-size: 12px;
  color: #a9a9a9;
}
header .first-row-nav {
  flex-basis: 50%;
  text-align: center;
}
header .first-row-nav li {
  display: inline-block;
  padding: 0 10px;
}
header .first-row .login-block {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .first-row .login-block img {
  margin: -10px 5px 0 15px;
}
header .second-row {
  height: 95px;
  line-height: 95px;
  text-align: center;
  font-family: "Brandon_bld", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
header .third-row {
  height: 56px;
  line-height: 76px;
}
header .third-row ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .third-row a {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
}
/* Main */
main {
  width: 100%;
  max-width: 1280px;
  min-width: 430px;
  flex-grow: 1;
  box-sizing: border-box;
  margin: auto;
  /* Main Slider */
  /* Main Banner */
  /* Section Products */
}
main .round-arrow-btn {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
main .main-slider {
  height: 520px;
  background-image: url("../img/slider-0.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-slider hr {
  border: none;
  background-color: #000000;
  color: #000000;
  height: 2px;
  width: 44px;
  margin-left: 0;
  text-align: left;
}
main .main-slider-product {
  margin: 5%;
}
main .main-slider-product-name {
  margin: 0 -2%;
  font-family: "TrajanProRegular", sans-serif;
  font-size: 72px;
  text-transform: uppercase;
}
main .main-slider-product-desc {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #1a1a1a;
}
main .main-slider-product-img {
  text-align: right;
}
main .main-slider-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
  color: #c59a77;
}
main .main-slider-nav .circles-parent {
  margin: 50%;
}
main .main-slider-nav .circle {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 100% 0%;
  border: 2px solid #ffffff;
}
main .main-slider-nav .circle:last-child {
  background: #ffffff;
}
main .main-slider-nav-arrow {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 50%;
  background: #ffffff;
}
main .main-slider-nav-about {
  margin: 50%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 110px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  background: #ffffff;
}
main .main-banner {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
main .main-banner p {
  margin: 7%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
main .main-banner-item {
  min-width: 425px;
  min-height: 195px;
  background-repeat: no-repeat;
  background-size: cover;
}
main .main-banner-first {
  flex-basis: 33.33%;
  background-image: url("../img/banner-0.png");
  color: #c59a77;
}
main .main-banner-first-arrow {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15% 7% 7% 7%;
  background: #1a1a1a;
  color: #000000;
  border: 0.7px dotted #c59a77;
}
main .main-banner-second {
  flex-basis: 33.33%;
  background-image: url("../img/banner-1.png");
}
main .main-banner-second-arrow {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15% 7% 7% 7%;
  background: #000000;
  color: #eeeeee;
}
main .main-banner-third {
  flex-basis: 33.33%;
  background-image: url("../img/banner-2.png");
  color: #ffffff;
}
main .main-banner-third-arrow {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15% 7% 7% 7%;
  background: #ffffff;
  color: #c59a77;
}
main .main-banner-third-img {
  margin-top: -180px;
  float: right;
}
main .products {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  border-right: 0.5px solid #eeeeee;
  background-color: #ffffff;
}
main .products h2 {
  margin: 5% 0 0 5%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  max-width: 142px;
}
main .products p {
  max-width: 142px;
  margin: 3% 0 0 5%;
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #838383;
}
main .products .product {
  min-width: 425px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  border-top: 0.5px solid #eeeeee;
  border-left: 0.5px solid #eeeeee;
}
main .products .product-price {
  display: flex;
  justify-content: space-between;
  margin-right: 7%;
  margin-bottom: 5%;
}
main .products .product-price h2 {
  color: #838383;
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
}
main .products .product-cart {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ffffff;
  color: #c59a77;
  box-shadow: 0px 2px 2px 0px #a9a9a9;
}
main .products .product-1 {
  flex-basis: 33%;
  background-image: url("../img/product-0.png");
}
main .products .product-2 {
  flex-basis: 33%;
  background-image: url("../img/product-1.png");
}
main .products .product-3 {
  flex-basis: 33%;
  background-image: url("../img/product-2.png");
}
main .products .product-4 {
  flex-basis: 33%;
  background-image: url("../img/product-3.png");
}
main .products .product-5 {
  flex-basis: 33%;
  background-image: url("../img/product-4.png");
  background-color: #f4f0eb;
  background-position: 100% 50%;
}
main .products .product-5 .product-cart {
  background: #b99978;
}
main .products .product-6 {
  flex-basis: 33%;
  background-image: url("../img/product-5.png");
}
main .products .product-7 {
  flex-basis: 33%;
  background-image: url("../img/product-6.png");
}
main .products .product-8 {
  flex-basis: 33%;
  background-image: url("../img/product-7.png");
}
main .products .product-9 {
  flex-basis: 33%;
  background-image: url("../img/product-8.png");
}
main .products .product-10 {
  flex-basis: 33%;
  background-image: url("../img/product-9.png");
}
main .products .product .about {
  min-width: 850px;
  height: 300px;
  flex-basis: 66%;
  background-repeat: no-repeat;
  background-image: url("../img/about.png");
  border-top: 0.5px solid #eeeeee;
  border-left: 0.5px solid #eeeeee;
  background-size: cover;
  background-position: top left;
}
main .products .product .about h2,
main .products .product .about p {
  max-width: 336px;
}
footer {
  height: 300px;
  background-color: #1a1a1a;
  color: #ffffff;
  width: 100%;
  max-width: 1280px;
  min-width: 430px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
footer h3 {
  font-family: "proximanovabold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
footer p {
  font-family: "proximanovasemibold", sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 12px;
  color: #a9a9a9;
}
