/* Basic Fonts */
.proxima-reg {
	font-family: "proximanovasemibold", sans-serif;
	font-weight: 400;
}
.proxima-bld {
	font-family: "proximanovabold", sans-serif;
	font-weight: 700;
}
.brandon-bld {
	font-family: "Brandon_bld", sans-serif;
	font-weight: 700;
}
.trajan-reg {
	font-family: "TrajanProRegular", sans-serif;	
} 
.main-slider-text {
	.proxima-bld;
	font-size: 17px;
	line-height: 24px;
}
/* Basic Colors */
@grey: #a9a9a9;
@light-grey: lighten(@grey, 27%);
@black: #000;
@light-black: lighten(@black, 10%);
@orange: #c59a77;
@white: #fff;
@beige: #f4f0eb;
@dark-beige: #b99978;
@background: #ffffff;
/* Main Header */
header {
	width: 100%;
	max-width: 1280px;
	min-width: 430px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: stretch;
	margin: 1% auto;
	box-sizing: border-box;    
	text-transform: uppercase;
	a {
		text-decoration: none;    
	}
	hr {
		border: none;
		background-color: @light-grey;
		color: @light-grey;
		height: 1px;
		position: absolute;
		top:auto;
		left:0;
		width:100%;
	}
	.first-row {		
		display: flex;
		flex-direction: row;
		justify-content: space-between;     
		.proxima-reg;
		a {
			font-size: 10px;
			color: @grey;    
		}
		.contacts {
			flex-basis: 25%;
			a {
				font-size: 14px;
				color: @black;
			}
			span {
				padding: 10px;
				text-transform: none;
				font-size: 12px;
				color: @grey;
			}
		}
		&-nav {
			flex-basis: 50%;
			text-align: center;
			li {        
				display: inline-block; 
				padding: 0 10px;    
			}
		}
		.login-block {								  
			flex-basis: 25%;
			display: flex;			
			justify-content: flex-end;
			align-items: center;
			img {
				margin: -10px 5px 0 15px;
			}					
	}
				 
	}
	.second-row {
		height: 95px;
		line-height: 95px;
		text-align: center;		
		.brandon-bld;
		font-size: 24px;     
	}
	.third-row {
		height: 56px;
		line-height: 76px;		
		ul{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		a {			
			.proxima-bld;
			font-size: 13px;			
			color: @black;			    
		}		    
	}
}
/* Main */
main {
	width: 100%;
	max-width: 1280px;
	min-width: 430px;
	flex-grow: 1;
	box-sizing: border-box;
	margin: auto;
	.round-arrow-btn {		
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		width: 40px;
		height: 40px;		
	}	
/* Main Slider */
.main-slider {
    height: 520px;
    background-image: url("../img/slider-0.png");
	background-size: cover;	
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between; 
	align-items: center; 
	hr {
		border: none;
		background-color: @black;
		color: @black;
		height: 2px;
		width: 44px;
		margin-left: 0;
		text-align: left;
	}
	&-product {
		margin: 5%;
		&-name {
			margin: 0 -2%;
			.trajan-reg;
			font-size: 72px;
			text-transform: uppercase;
		}
		&-desc {
			.main-slider-text;			
			color: @light-black;
		}
		&-img {
			text-align: right;
		}
	}
	&-nav {		
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;    
		margin: 3%;
		color: @orange;
		.circles-parent { margin: 50%;}
		.circle {      
			border-radius: 50%;
			width: 5px;
			height: 5px;
			margin: 100% 0%;     
			border: 2px solid @white;
			&:last-child { background: @white; }
		}
		&-arrow {
			.round-arrow-btn;
			margin: 50%;			
			background: @white;
		}
		&-about {
			margin: 50%;
			.proxima-bld;
			font-size: 12px;			
			text-transform: uppercase;
			text-align: center;
			line-height: 110px;
			border-radius: 50%;
			width: 110px;
			height: 110px;
			background: @white;
		}
	}
}
/* Main Banner */
.main-banner {    
	max-width: 100%;	
    display: flex;
    flex-direction: row;
	align-items: stretch;  
	flex-wrap: wrap;	
	p {
		margin: 7%;    
		.main-slider-text;		
	} 
	&-item {			
		min-width: 425px;
		min-height: 195px;
		background-repeat: no-repeat;
		background-size: cover;	
	}
	&-first {
		flex-basis: 33.33%;		       
		background-image: url("../img/banner-0.png"); 			
		color: @orange;
		&-arrow {
			.round-arrow-btn;
			margin: 15% 7% 7% 7%;			
			background: @light-black;
			color: @black;			
			border: 0.7px dotted @orange;
		}
	}
	&-second { 
		flex-basis: 33.33%;		
		background-image: url("../img/banner-1.png");
		&-arrow {
			.round-arrow-btn;
			margin: 15% 7% 7% 7%;			
			background: @black;
			color: @light-grey;
		}			
	} 
	&-third {
		flex-basis: 33.33%;		
		background-image: url("../img/banner-2.png");				
		color: @white; 
		&-arrow {
			.round-arrow-btn;
			margin: 15% 7% 7% 7%;			
			background: @white;
			color: @orange;
		}
		&-img {
			margin-top: -180px;    
			float: right;
		}   
	} 
}
/* Section Products */
.products {    
	max-width: 100%;	
    display: flex;
    flex-direction: row;
	align-items: stretch;  
	flex-wrap: wrap;
	border-right: 0.5px solid @light-grey;
	background-color: @background;
	h2 {
		margin: 5% 0 0 5%;
		.proxima-bld;
		font-size: 18px;
		line-height: 24px;
		color: black;
		text-transform: uppercase;
		max-width: 142px;
	}	
	p {
		max-width: 142px;
		margin: 3% 0 0 5%;
		.proxima-bld;
		font-size: 12px;
		line-height: 16px;
		color: darken(@grey, 15%);		
	} 
	.product {			
		min-width: 425px;
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-position: 75% 50%;		
		border-top: 0.5px solid @light-grey;
		border-left: 0.5px solid @light-grey;			
		&-price {			
			display: flex;
			justify-content: space-between;
			margin-right: 7%;			
			h2 { 
				color: darken(@grey, 15%);
				.proxima-reg;
			 }
			margin-bottom: 5%;
		}	
		&-cart {
			.round-arrow-btn;						
			background: @white;
			color: @orange;	
			box-shadow: 0px 2px 2px 0px @grey;			
		}
		&-1 {
			flex-basis: 33%;					       
			background-image: url("../img/product-0.png"); 						
		}
		&-2 {
			flex-basis: 33%;					       
			background-image: url("../img/product-1.png"); 						
		}
		&-3 {
			flex-basis: 33%;					       
			background-image: url("../img/product-2.png"); 						
		}
		&-4 {
			flex-basis: 33%;					       
			background-image: url("../img/product-3.png"); 						
		}
		&-5 {
			flex-basis: 33%;					       
			background-image: url("../img/product-4.png");
			background-color: @beige;
			background-position: 100% 50%; 	
			.product-cart {
				background: @dark-beige; 
			}					
		}
		&-6 {
			flex-basis: 33%;					       
			background-image: url("../img/product-5.png"); 						
		}
		&-7 {
			flex-basis: 33%;					       
			background-image: url("../img/product-6.png"); 						
		}
		&-8 {
			flex-basis: 33%;					       
			background-image: url("../img/product-7.png"); 						
		}
		&-9 {
			flex-basis: 33%;					       
			background-image: url("../img/product-8.png"); 						
		}
		&-10 {
			flex-basis: 33%;					       
			background-image: url("../img/product-9.png"); 						
		}
		.about {
			h2, p {
				max-width: 336px;
			}						
			min-width: 850px;
			height: 300px;
			flex-basis: 66%;			
			background-repeat: no-repeat;
			background-image: url("../img/about.png");					
			border-top: 0.5px solid @light-grey;
			border-left: 0.5px solid @light-grey;
			background-size: cover; 
			background-position: top left;
		}
	}
}
}

footer {
	height: 300px;
	background-color: @light-black;
	color: @white;
	width: 100%;
	max-width: 1280px;
	min-width: 430px;	
	box-sizing: border-box;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2%;
	h3 {
		.proxima-bld;
		font-size: 18px;
		line-height: 24px;
		color: @white;
	}

	p {
		.proxima-reg;
		line-height: 18px;
		font-size: 12px;
		color: @grey;
	}
}